.background1 {
  background-image: url(../image/7838d2af982259a96f988a19c294dad5d4ce1148.png);
  height: 840px;
  background-position: center;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url(../image/49956fc9aff8de14165da69c035537a9bbc2088a.png);
  height: 811px;
  background-position: center;
  background-repeat: no-repeat;
}
